Repository THT-Team/THT-Android, pull requests merged in 2023-02, with the labels that each got.

#22 TOP-10 feat: add font, text style resources
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
  core/ui/src/main/res/font/pretandard_font_family.xml
  core/ui/src/main/res/font/pretendard_black.otf
  core/ui/src/main/res/font/pretendard_bold.otf
  core/ui/src/main/res/font/pretendard_extra_bold.otf
  core/ui/src/main/res/font/pretendard_extra_light.otf
  core/ui/src/main/res/font/pretendard_light.otf
  core/ui/src/main/res/font/pretendard_medium.otf
  core/ui/src/main/res/font/pretendard_regular.otf
  core/ui/src/main/res/font/pretendard_semi_bold.otf
  core/ui/src/main/res/font/pretendard_thin.otf
  core/ui/src/main/res/values-v28/styles.xml
  core/ui/src/main/res/values/colors.xml
  core/ui/src/main/res/values/styles.xml
Labels: ui 🖍

#23 TOP-11 test: API 통신 테스트 코드 작성
  data/build.gradle.kts
  data/src/main/java/com/tht/tht/data/remote/response/SuccessResponse.kt
  data/src/main/java/com/tht/tht/data/remote/response/base/BaseResponse.kt
  data/src/main/java/com/tht/tht/data/remote/response/base/ErrorResponse.kt
  data/src/main/java/com/tht/tht/data/remote/response/base/SuccessResponse.kt
  data/src/main/java/com/tht/tht/data/remote/response/common/TypeResponse.kt
  data/src/main/java/com/tht/tht/data/remote/response/ideal/IdealTypeResponse.kt
  data/src/main/java/com/tht/tht/data/remote/response/interests/InterestTypeResponse.kt
  data/src/main/java/com/tht/tht/data/remote/retrofit/callAdapter/ApiCall.kt
  data/src/main/java/com/tht/tht/data/remote/retrofit/callAdapter/ApiCallAdapter.kt
  data/src/main/java/com/tht/tht/data/remote/retrofit/callAdapter/ApiCallAdapterFactory.kt
  data/src/main/java/com/tht/tht/data/remote/retrofit/retrofit.kt
  data/src/main/java/com/tht/tht/data/remote/service/ThtApi.kt
  data/src/main/java/com/tht/tht/data/remote/service/service.kt
  data/src/test/java/com/tht/tht/data/ExampleUnitTest.kt
  data/src/test/java/com/tht/tht/data/resources/ideal/ideal.json
  data/src/test/java/com/tht/tht/data/resources/ideal/ideal_failure_404.json
  data/src/test/java/com/tht/tht/data/resources/interests/interests.json
  data/src/test/java/com/tht/tht/data/resources/interests/interests_failure_404.json
  data/src/test/java/com/tht/tht/data/service/IdealTypeServiceTest.kt
  data/src/test/java/com/tht/tht/data/service/InterestsTypeServiceTest.kt
  gradle/libraries.version.toml
Labels: 남태우 🕷, refactor ⚒, test ✍️

#25 TOP-9 feat: Signup Data모듈 작성
  app/src/main/java/com/tht/tht/AppModule.kt
  data/build.gradle.kts
  data/src/androidTest/java/com/tht/tht/data/ExampleInstrumentedTest.kt
  data/src/androidTest/java/com/tht/tht/data/local/dao/SignupUserDaoImplTest.kt
  data/src/main/assets/signup_terms.json
  data/src/main/java/com/tht/tht/data/constant/THTApiConstant.kt
  data/src/main/java/com/tht/tht/data/datasource/Datasource.kt
  data/src/main/java/com/tht/tht/data/di/DaoModule.kt
  data/src/main/java/com/tht/tht/data/di/DataSourceModule.kt
  data/src/main/java/com/tht/tht/data/di/DispatcherModule.kt
  data/src/main/java/com/tht/tht/data/di/RepositoryModule.kt
  data/src/main/java/com/tht/tht/data/di/SharedPreferencesModule.kt
  data/src/main/java/com/tht/tht/data/di/UseCaseModule.kt
  data/src/main/java/com/tht/tht/data/di/retrofit/ApiServiceModule.kt
  data/src/main/java/com/tht/tht/data/di/retrofit/OkHttpClientModule.kt
  data/src/main/java/com/tht/tht/data/di/retrofit/OkHttpInterceptorModule.kt
  data/src/main/java/com/tht/tht/data/local/dao/SignupUserDao.kt
  data/src/main/java/com/tht/tht/data/local/dao/SignupUserDaoImpl.kt
  data/src/main/java/com/tht/tht/data/local/dao/TermsDao.kt
  data/src/main/java/com/tht/tht/data/local/dao/TermsDaoImpl.kt
  data/src/main/java/com/tht/tht/data/local/datasource/SignupUserDataSource.kt
  data/src/main/java/com/tht/tht/data/local/datasource/SignupUserDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/local/datasource/TermsDataSource.kt
  data/src/main/java/com/tht/tht/data/local/datasource/TermsDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/local/entity/SignupUserEntity.kt
  data/src/main/java/com/tht/tht/data/local/entity/TermsEntity.kt
  data/src/main/java/com/tht/tht/data/local/mapper/Mapper.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/Datasource.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/SignupApiDataSource.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/SignupApiDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/mapper/Mapper.kt
  data/src/main/java/com/tht/tht/data/remote/response/signup/SignupResponse.kt
  data/src/main/java/com/tht/tht/data/remote/retrofit/ApiClient.kt
  data/src/main/java/com/tht/tht/data/remote/service/THTSignupApi.kt
  data/src/main/java/com/tht/tht/data/remote/service/ThtApi.kt
  data/src/main/java/com/tht/tht/data/repository/RepositoryImpl.kt
  data/src/main/java/com/tht/tht/data/repository/SignupRepositoryImpl.kt
  data/src/test/java/com/tht/tht/data/datasource/TermsDataSourceImplTest.kt
  data/src/test/java/com/tht/tht/data/local/datasource/SignupUserDataSourceImplTest.kt
  data/src/test/java/com/tht/tht/data/repository/SignupRepositoryImplTest.kt
  data/src/test/java/com/tht/tht/data/service/IdealTypeServiceTest.kt
  data/src/test/java/com/tht/tht/data/service/InterestsTypeServiceTest.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/IdealTypeModel.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/InterestModel.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/TermsModel.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupBirthUseCase.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupBirtheUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupTermsUseCaseTest.kt
Labels: 최웅재 🦊, feat 📎, test ✍️

#24 TOP-12 feat: 바텀 네비게이션 설정
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/tht/tht/HomeActivity.kt
  app/src/main/java/com/tht/tht/HomeViewModel.kt
  app/src/main/java/com/tht/tht/MainActivity.kt
  app/src/main/java/com/tht/tht/base/BaseActivity.kt
  app/src/main/java/com/tht/tht/base/BaseViewModel.kt
  app/src/main/java/com/tht/tht/base/FragmentNavigator.kt
  app/src/main/java/com/tht/tht/binding/ActivityViewBindingDelegate.kt
  app/src/main/res/drawable/ic_chat.xml
  app/src/main/res/drawable/ic_chat_fill.xml
  app/src/main/res/drawable/ic_heart.xml
  app/src/main/res/drawable/ic_heart_fill.xml
  app/src/main/res/drawable/ic_my.xml
  app/src/main/res/drawable/ic_my_fill.xml
  app/src/main/res/drawable/ic_tohot.xml
  app/src/main/res/drawable/ic_tohot_fill.xml
  app/src/main/res/drawable/selector_icon_chat.xml
  app/src/main/res/drawable/selector_icon_heart.xml
  app/src/main/res/drawable/selector_icon_my.xml
  app/src/main/res/drawable/selector_icon_tohot.xml
  app/src/main/res/drawable/selector_menu_color.xml
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/menu/bottom_navigation_menu.xml
  app/src/main/res/values/strings.xml
  core/ui/src/main/java/tht/core/ui/extension/ViewExtensions.kt
  data/src/main/java/com/tht/tht/data/remote/service/ThtApi.kt
  feature/chat/src/main/java/tht/feature/chat/ChatFragment.kt
  feature/chat/src/main/res/layout/fragment_chat.xml
  feature/chat/src/main/res/values/strings.xml
  feature/heart/src/main/java/tht/feature/heart/HeartFragment.kt
  feature/heart/src/main/res/layout/fragment_heart.xml
  feature/heart/src/main/res/values/strings.xml
  feature/setting/src/main/java/tht/feature/setting/MyFragment.kt
  feature/setting/src/main/res/layout/fragment_setting.xml
  feature/setting/src/main/res/values/strings.xml
  feature/tohot/src/main/java/tht/feature/tohot/ToHotFragment.kt
  feature/tohot/src/main/res/layout/fragment_to_hot.xml
  feature/tohot/src/main/res/values/strings.xml
  gradle/libraries.version.toml
Labels: 남태우 🕷, feat 📎, refactor ⚒

#26 TOP-17 feat: feature_signup모듈 Intro화면 구현
  .github/workflows/android_ci.yml
  core/ui/build.gradle.kts
  core/ui/src/main/java/tht/core/ui/ActivityViewBindingDelegate.kt
  core/ui/src/main/java/tht/core/ui/extension/AppCompatExtension.kt
  core/ui/src/main/java/tht/core/ui/extension/ContextExtension.kt
  core/ui/src/main/res/values/colors.xml
  feature/signin/build.gradle.kts
  feature/signin/src/main/AndroidManifest.xml
  feature/signin/src/main/java/tht/feature/signin/IntroActivity.kt
  feature/signin/src/main/java/tht/feature/signin/IntroViewModel.kt
  feature/signin/src/main/res/drawable/bg_btn_login.xml
  feature/signin/src/main/res/drawable/bg_btn_signup.xml
  feature/signin/src/main/res/drawable/ic_intro_logo.xml
  feature/signin/src/main/res/layout/activity_intro.xml
  feature/signin/src/main/res/values/strings.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍

#27 feat: TOP-30 뷰모델, 액티비티 상태
  app/src/main/java/com/tht/tht/base/BaseStateActivity.kt
  app/src/main/java/com/tht/tht/base/BaseStateViewModel.kt
  app/src/main/java/com/tht/tht/base/SideEffect.kt
  app/src/main/java/com/tht/tht/base/State.kt
  app/src/main/res/drawable/ic_logo.xml
  core/ui/build.gradle.kts
  core/ui/src/main/java/tht/core/ui/exception/ErrorHandler.kt
  data/src/main/java/com/tht/tht/data/remote/mapper/ThtResponseMapper.kt
Labels: feat 📎

#28 TOP-18 feat: feature_signin 모듈 인증화면 구현
  .github/workflows/android_ci.yml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/tht/tht/HomeActivity.kt
  app/src/main/java/com/tht/tht/HomeViewModel.kt
  app/src/main/java/com/tht/tht/base/BaseStateViewModel.kt
  app/src/main/java/com/tht/tht/base/SideEffect.kt
  app/src/main/java/com/tht/tht/base/State.kt
  core/ui/build.gradle.kts
  core/ui/src/main/java/tht/core/ui/base/BaseActivity.kt
  core/ui/src/main/java/tht/core/ui/base/BaseStateActivity.kt
  core/ui/src/main/java/tht/core/ui/base/BaseStateViewModel.kt
  core/ui/src/main/java/tht/core/ui/base/BaseViewModel.kt
  core/ui/src/main/java/tht/core/ui/base/FragmentNavigator.kt
  core/ui/src/main/java/tht/core/ui/base/SideEffect.kt
  core/ui/src/main/java/tht/core/ui/base/UiState.kt
  core/ui/src/main/java/tht/core/ui/delegate/ActivityViewBindingDelegate.kt
  core/ui/src/main/java/tht/core/ui/extension/AppCompatExtension.kt
  core/ui/src/main/java/tht/core/ui/extension/ContextExtension.kt
  core/ui/src/main/java/tht/core/ui/extension/ViewExtensions.kt
  core/ui/src/main/res/values/colors.xml
  domain/src/main/java/com/tht/tht/domain/signup/usecase/RequestVerifyUseCase.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/RequestVerifyUseCaseTest.kt
  feature/signin/build.gradle.kts
  feature/signin/src/main/AndroidManifest.xml
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneAuthActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneAuthViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyEditKeyEvent.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyEditTextWatcher.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/intro/IntroActivity.kt
  feature/signin/src/main/java/tht/feature/signin/intro/IntroViewModel.kt
  feature/signin/src/main/res/drawable/bg_btn_auth_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_auth_enable.xml
  feature/signin/src/main/res/drawable/bg_btn_login.xml
  feature/signin/src/main/res/drawable/bg_btn_signup.xml
  feature/signin/src/main/res/drawable/ic_delete.xml
  feature/signin/src/main/res/drawable/ic_error.xml
  feature/signin/src/main/res/drawable/ic_intro_logo.xml
  feature/signin/src/main/res/drawable/ic_right_arrow.xml
  feature/signin/src/main/res/drawable/selector_btn_auth.xml
  feature/signin/src/main/res/layout/activity_intro.xml
  feature/signin/src/main/res/layout/activity_phone_auth.xml
  feature/signin/src/main/res/layout/activity_verify.xml
  feature/signin/src/main/res/layout/item_signup_tool_bar.xml
  feature/signin/src/main/res/values-v28/styles.xml
  feature/signin/src/main/res/values/dimens.xml
  feature/signin/src/main/res/values/strings.xml
  feature/signin/src/main/res/values/styles.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍

#29 Revert "TOP-18 feat: feature_signin 모듈 인증화면 구현"
  .github/workflows/android_ci.yml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/tht/tht/HomeActivity.kt
  app/src/main/java/com/tht/tht/HomeViewModel.kt
  app/src/main/java/com/tht/tht/base/BaseActivity.kt
  app/src/main/java/com/tht/tht/base/BaseStateActivity.kt
  app/src/main/java/com/tht/tht/base/BaseStateViewModel.kt
  app/src/main/java/com/tht/tht/base/BaseViewModel.kt
  app/src/main/java/com/tht/tht/base/FragmentNavigator.kt
  app/src/main/java/com/tht/tht/base/SideEffect.kt
  app/src/main/java/com/tht/tht/base/State.kt
  core/ui/build.gradle.kts
  core/ui/src/main/java/tht/core/ui/base/BaseStateViewModel.kt
  core/ui/src/main/java/tht/core/ui/base/SideEffect.kt
  core/ui/src/main/java/tht/core/ui/base/UiState.kt
  core/ui/src/main/java/tht/core/ui/delegate/ActivityViewBindingDelegate.kt
  core/ui/src/main/java/tht/core/ui/extension/AppCompatExtension.kt
  core/ui/src/main/java/tht/core/ui/extension/ContextExtension.kt
  core/ui/src/main/java/tht/core/ui/extension/ViewExtensions.kt
  core/ui/src/main/res/values/colors.xml
  domain/src/main/java/com/tht/tht/domain/signup/usecase/RequestVerifyUseCase.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/RequestVerifyUseCaseTest.kt
  feature/signin/build.gradle.kts
  feature/signin/src/main/AndroidManifest.xml
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneAuthActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneAuthViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyEditKeyEvent.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyEditTextWatcher.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/intro/IntroActivity.kt
  feature/signin/src/main/java/tht/feature/signin/intro/IntroViewModel.kt
  feature/signin/src/main/res/drawable/bg_btn_auth_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_auth_enable.xml
  feature/signin/src/main/res/drawable/bg_btn_login.xml
  feature/signin/src/main/res/drawable/bg_btn_signup.xml
  feature/signin/src/main/res/drawable/ic_delete.xml
  feature/signin/src/main/res/drawable/ic_error.xml
  feature/signin/src/main/res/drawable/ic_intro_logo.xml
  feature/signin/src/main/res/drawable/ic_right_arrow.xml
  feature/signin/src/main/res/drawable/selector_btn_auth.xml
  feature/signin/src/main/res/layout/activity_intro.xml
  feature/signin/src/main/res/layout/activity_phone_auth.xml
  feature/signin/src/main/res/layout/activity_verify.xml
  feature/signin/src/main/res/layout/item_signup_tool_bar.xml
  feature/signin/src/main/res/values-v28/styles.xml
  feature/signin/src/main/res/values/dimens.xml
  feature/signin/src/main/res/values/strings.xml
  feature/signin/src/main/res/values/styles.xml
Labels: 최웅재 🦊, chore 📏
