Repository THT-Team/THT-Android, pull requests merged in 2023-03, with the labels that each got.

#31 TOP-19 feat: signup string provider
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneAuthViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/di/StringProviderModule.kt
  feature/signin/src/main/res/values/strings.xml
Labels: 최웅재 🦊, feat 📎

#34 TOP-20 feat: signup email
  core/ui/src/main/res/values-v28/styles.xml
  feature/signin/src/main/AndroidManifest.xml
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/auth/VerifyActivity.kt
  feature/signin/src/main/java/tht/feature/signin/email/EmailActivity.kt
  feature/signin/src/main/java/tht/feature/signin/email/EmailViewModel.kt
  feature/signin/src/main/res/drawable/bg_btn_next_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_next_enable.xml
  feature/signin/src/main/res/drawable/bg_email_autocomplete_dropdown.xml
  feature/signin/src/main/res/drawable/selector_btn_next.xml
  feature/signin/src/main/res/layout/activity_email.xml
  feature/signin/src/main/res/layout/item_email_autocomplete_dropdown.xml
  feature/signin/src/main/res/values-v28/styles.xml
  feature/signin/src/main/res/values/strings.xml
  feature/signin/src/main/res/values/styles.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍

#41 feat: TOP-33 add to naver login
  .github/workflows/android_ci.yml
  app/build.gradle.kts
  app/src/main/java/com/tht/tht/TopicHotTodayApp.kt
  feature/signin/build.gradle.kts
  feature/signin/src/main/java/tht/feature/signin/prelogin/PreloginActivity.kt
  feature/signin/src/main/java/tht/feature/signin/prelogin/PreloginSideEffect.kt
  feature/signin/src/main/java/tht/feature/signin/prelogin/PreloginViewModel.kt
  feature/signin/src/main/res/layout/activity_prelogin.xml
Labels: 남태우 🕷, feat 📎

#43 TOP-35 feature signup mock service
  data/src/main/java/com/tht/tht/data/di/retrofit/ApiServiceModule.kt
  data/src/main/java/com/tht/tht/data/remote/service/MockTHTSignupApi.kt
  data/src/main/java/com/tht/tht/data/remote/service/ThtApi.kt
Labels: 최웅재 🦊, feat 📎

#42 TOP-21 feature signup terms
  app/src/main/java/com/tht/tht/HomeActivity.kt
  core/ui/src/main/java/tht/core/ui/delegate/ItemViewBIndingDelegate.kt
  core/ui/src/main/java/tht/core/ui/extension/ViewExtensions.kt
  core/ui/src/main/res/values-v28/styles.xml
  data/src/main/assets/signup_terms.json
  data/src/main/java/com/tht/tht/data/constant/THTApiConstant.kt
  data/src/main/java/com/tht/tht/data/di/UseCaseModule.kt
  data/src/main/java/com/tht/tht/data/local/entity/SignupUserEntity.kt
  data/src/main/java/com/tht/tht/data/local/entity/TermsEntity.kt
  data/src/main/java/com/tht/tht/data/local/mapper/Mapper.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/SignupApiDataSource.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/SignupApiDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/service/MockTHTSignupApi.kt
  data/src/main/java/com/tht/tht/data/remote/service/THTSignupApi.kt
  data/src/main/java/com/tht/tht/data/repository/SignupRepositoryImpl.kt
  data/src/test/java/com/tht/tht/data/datasource/TermsDataSourceImplTest.kt
  data/src/test/java/com/tht/tht/data/repository/SignupRepositoryImplTest.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/TermsModel.kt
  domain/src/main/java/com/tht/tht/domain/signup/repository/SignupRepository.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/RequestPhoneVerifyUseCase.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupTermsUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/RequestPhoneVerifyUseCaseTest.kt
  feature/signin/src/main/AndroidManifest.xml
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneAuthActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneVerifyActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneVerifyViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/email/EmailActivity.kt
  feature/signin/src/main/java/tht/feature/signin/email/EmailViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsActivity.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsContentActivity.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsContentItemView.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsContentViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsItemView.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsViewModel.kt
  feature/signin/src/main/res/anim/translate_slide_down.xml
  feature/signin/src/main/res/anim/translate_slide_up.xml
  feature/signin/src/main/res/drawable/bg_btn_start_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_start_enable.xml
  feature/signin/src/main/res/drawable/ic_check_circle_selected.xml
  feature/signin/src/main/res/drawable/ic_check_circle_unselected.xml
  feature/signin/src/main/res/drawable/ic_check_selected.xml
  feature/signin/src/main/res/drawable/ic_check_unselected.xml
  feature/signin/src/main/res/drawable/ic_close.xml
  feature/signin/src/main/res/drawable/ic_close_pressed.xml
  feature/signin/src/main/res/drawable/ic_right_arrow_gray.xml
  feature/signin/src/main/res/drawable/selector_btn_start.xml
  feature/signin/src/main/res/drawable/selector_ic_check.xml
  feature/signin/src/main/res/drawable/selector_ic_check_circle.xml
  feature/signin/src/main/res/drawable/selector_ic_close.xml
  feature/signin/src/main/res/layout/activity_phone_verify.xml
  feature/signin/src/main/res/layout/activity_terms.xml
  feature/signin/src/main/res/layout/activity_terms_content.xml
  feature/signin/src/main/res/layout/item_terms.xml
  feature/signin/src/main/res/layout/item_terms_content.xml
  feature/signin/src/main/res/values/strings.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍
