Repository THT-Team/THT-Android, pull requests merged in 2023-07, with the labels that each got.

#86 Design/top 64 signup terms add logo
  feature/signin/src/main/res/drawable/ic_falling_logo_105_width.xml
  feature/signin/src/main/res/drawable/ic_falling_logo_72_width.xml
  feature/signin/src/main/res/drawable/ic_intro_logo.xml
  feature/signin/src/main/res/drawable/ic_logo.xml
  feature/signin/src/main/res/layout/activity_prelogin.xml
  feature/signin/src/main/res/layout/activity_terms.xml
Labels: 최웅재 🦊, ui 🖍

#87 Feature/top 55 falling main UI
  .gitignore
  build.gradle.kts
  core/ui/src/main/res/values/colors.xml
  feature/tohot/build.gradle.kts
  feature/tohot/src/main/java/tht/feature/tohot/StringProvider.kt
  feature/tohot/src/main/java/tht/feature/tohot/StringProviderImpl.kt
  feature/tohot/src/main/java/tht/feature/tohot/ToHotFragment.kt
  feature/tohot/src/main/java/tht/feature/tohot/UserData.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/card/FallingCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/card/ToHotCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/card/ToHotCardImage.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/card/ToHotEmptyCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/card/ToHotEnterCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/card/ToHotLoadingCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/card/ToHotNotifyCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/chip/ToHotChip.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/dialog/ToHotHoldDialog.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/dialog/ToHotReportDialog.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/dialog/ToHotUserBlockDialog.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/emoji/EmojiText.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/pager/ToHotPagerIndicator.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotAnimateTimeProgressContainer.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotEmptyTimeProgressContainer.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotProgressTimeBackground.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotTimeCircularProgress.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/toolbar/ToHotToolBarContent.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/toolbar/ToHotToolbarTopicIcon.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/userinfo/ToHotCardManageRow.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/userinfo/ToHotUserInfoFullCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/userinfo/ToHotUserInfoMinimumCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/CardTimerUiModel.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/ImmutableCollectionWrapper.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/ToHotUserUiModel.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/TopicUiModel.kt
  feature/tohot/src/main/java/tht/feature/tohot/navigation/ToHotNavigation.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/ToHotScreen.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/TopicSelectScreen.kt
  feature/tohot/src/main/java/tht/feature/tohot/state/ToHotSideEffect.kt
  feature/tohot/src/main/java/tht/feature/tohot/state/ToHotState.kt
  feature/tohot/src/main/java/tht/feature/tohot/viewmodel/ToHotViewModel.kt
  feature/tohot/src/main/res/drawable/ic_enter.xml
  feature/tohot/src/main/res/drawable/ic_mudy_empty.xml
  feature/tohot/src/main/res/drawable/ic_mudy_enter.xml
  feature/tohot/src/main/res/drawable/ic_mudy_sleep.xml
  feature/tohot/src/main/res/drawable/ic_timer_empty.xml
  feature/tohot/src/main/res/values/strings.xml
Labels: 최웅재 🦊, ui 🖍

#88 Feature/top 56 falling topic UI
  feature/tohot/src/main/java/tht/feature/tohot/component/animation/ShakingAnimation.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/toolbar/ToHotToolBar.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/toolbar/ToHotToolBarContent.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/topic/TopicItemChipImage.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/topic/TopicSelectChip.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/TopicUiModel.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/ToHotScreen.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/TopicResetScreen.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/TopicSelectScreen.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/TopicWaitScreen.kt
  feature/tohot/src/main/java/tht/feature/tohot/state/ToHotState.kt
  feature/tohot/src/main/java/tht/feature/tohot/viewmodel/ToHotViewModel.kt
  feature/tohot/src/main/res/drawable/ic_mudy_wait.xml
  feature/tohot/src/main/res/drawable/ic_stopwatch_green.xml
  feature/tohot/src/main/res/drawable/ic_stopwatch_yellow.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_alone_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_alone_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_bad_mood_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_bad_mood_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_daily_routine_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_daily_routine_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_fashion_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_fashion_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_fun_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_fun_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_gloomy_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_gloomy_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_happiness_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_happiness_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_hobby_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_hobby_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_hot_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_hot_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_interest_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_interest_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_memory_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_memory_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_merit_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_merit_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_mind_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_mind_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_pet_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_pet_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_placeholder_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_play_together_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_play_together_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_preference_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_preference_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_rest_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_rest_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_romance_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_romance_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_trip_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_trip_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_values_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_item_values_48.xml
  feature/tohot/src/main/res/drawable/ic_topic_reset.xml
  feature/tohot/src/main/res/drawable/ic_topic_reset_background.xml
  feature/tohot/src/main/res/drawable/ic_topic_wait.xml
  feature/tohot/src/main/res/values/strings.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍

#89 Feature/top 37 splash app entry point
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/tht/tht/SplashActivity.kt
  app/src/main/java/com/tht/tht/SplashViewModel.kt
  app/src/main/java/com/tht/tht/ThtFcmService.kt
  app/src/main/res/drawable/ic_splash.xml
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/mipmap-hdpi/ic_falling_launcher.png
  app/src/main/res/mipmap-hdpi/ic_falling_launcher_round.png
  app/src/main/res/mipmap-mdpi/ic_falling_launcher.png
  app/src/main/res/mipmap-mdpi/ic_falling_launcher_round.png
  app/src/main/res/mipmap-xhdpi/ic_falling_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_falling_launcher_round.png
  app/src/main/res/mipmap-xxhdpi/ic_falling_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_falling_launcher_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_falling_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_falling_launcher_round.png
  app/src/main/res/raw/splash_animation.json
  app/src/main/res/values-v31/themes.xml
  app/src/main/res/values/themes.xml
  data/src/main/java/com/tht/tht/data/constant/THTApiConstant.kt
  data/src/main/java/com/tht/tht/data/di/UseCaseModule.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/SignupApiDataSource.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/SignupApiDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/login/LoginDataSource.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/login/LoginDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/mapper/LoginMapper.kt
  data/src/main/java/com/tht/tht/data/remote/mapper/SignupMapper.kt
  data/src/main/java/com/tht/tht/data/remote/mapper/login/LoginMapper.kt
  data/src/main/java/com/tht/tht/data/remote/request/login/LoginRequest.kt
  data/src/main/java/com/tht/tht/data/remote/response/login/LoginResponse.kt
  data/src/main/java/com/tht/tht/data/remote/response/signup/SignupCheckResponse.kt
  data/src/main/java/com/tht/tht/data/remote/service/THTLoginApi.kt
  data/src/main/java/com/tht/tht/data/remote/service/THTSignupApi.kt
  data/src/main/java/com/tht/tht/data/repository/AuthRepositoryImpl.kt
  data/src/main/java/com/tht/tht/data/repository/LoginRepositoryImpl.kt
  data/src/main/java/com/tht/tht/data/repository/SignupRepositoryImpl.kt
  domain/src/main/java/com/tht/tht/domain/login/repository/AuthRepository.kt
  domain/src/main/java/com/tht/tht/domain/login/repository/LoginRepository.kt
  domain/src/main/java/com/tht/tht/domain/login/usecase/LoginUserUseCase.kt
  domain/src/main/java/com/tht/tht/domain/login/usecase/RefreshFcmTokenLoginUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/SignupCheckModel.kt
  domain/src/main/java/com/tht/tht/domain/signup/repository/SignupRepository.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/CheckLoginEnableUseCase.kt
  domain/src/main/java/com/tht/tht/domain/token/token/FetchThtTokenUseCase.kt
  domain/src/test/java/com/tht/tht/domain/login/usecase/RefreshFcmTokenLoginUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/CheckLoginEnableUseCaseTest.kt
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneVerifyActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneVerifyViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/prelogin/PreloginActivity.kt
  feature/signin/src/main/java/tht/feature/signin/signup/SignupRootActivity.kt
  feature/signin/src/main/res/drawable/ic_app_logo.xml
  feature/signin/src/main/res/layout/activity_prelogin.xml
  feature/signin/src/main/res/values/strings.xml
  gradle/libraries.version.toml
Labels: 최웅재 🦊, feat 📎

#90 feat: TOP-66 토큰 재발급 처리
  data/src/main/java/com/tht/tht/data/di/retrofit/OkHttpClientModule.kt
  data/src/main/java/com/tht/tht/data/di/retrofit/OkHttpInterceptorModule.kt
  data/src/main/java/com/tht/tht/data/remote/retrofit/ApiClient.kt
  data/src/main/java/com/tht/tht/data/remote/retrofit/TokenRefreshAuthenticator.kt
  domain/src/main/java/com/tht/tht/domain/login/usecase/RefreshFcmTokenLoginUseCase.kt
Labels: feat 📎

#91 Feature/top 37 splash app entry point
  app/src/main/res/drawable/ic_splash.xml
  app/src/main/res/mipmap-hdpi/ic_falling_launcher.png
  app/src/main/res/mipmap-hdpi/ic_falling_launcher_round.png
  app/src/main/res/mipmap-mdpi/ic_falling_launcher.png
  app/src/main/res/mipmap-mdpi/ic_falling_launcher_round.png
  app/src/main/res/mipmap-xhdpi/ic_falling_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_falling_launcher_round.png
  app/src/main/res/mipmap-xxhdpi/ic_falling_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_falling_launcher_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_falling_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_falling_launcher_round.png
  app/src/main/res/raw/splash_animation.json
  feature/signin/src/main/res/drawable/ic_falling_logo_105_width.xml
  feature/signin/src/main/res/drawable/ic_intro_logo.xml
  feature/signin/src/main/res/layout/activity_prelogin.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍
