Repository THT-Team/THT-Android, pull requests merged in 2023-06, with the labels that each got.

#78 TOP-53 문의하기 화면 구현
  .github/workflows/android_ci.yml
  core/ui/src/main/java/tht/core/ui/extension/DialogFragmentExtension.kt
  core/ui/src/main/res/values-v28/styles.xml
  data/build.gradle.kts
  data/src/main/java/com/tht/tht/data/di/DataSourceModule.kt
  data/src/main/java/com/tht/tht/data/di/EmailModule.kt
  data/src/main/java/com/tht/tht/data/di/RepositoryModule.kt
  data/src/main/java/com/tht/tht/data/di/ServiceModule.kt
  data/src/main/java/com/tht/tht/data/di/UseCaseModule.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/EmailDataSource.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/EmailDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/service/email/EmailSender.kt
  data/src/main/java/com/tht/tht/data/remote/service/email/EmailService.kt
  data/src/main/java/com/tht/tht/data/remote/service/email/EmailServiceImpl.kt
  data/src/main/java/com/tht/tht/data/repository/EmailRepositoryImpl.kt
  data/src/test/java/com/tht/tht/data/datasource/EmailDataSourceImplTest.kt
  data/src/test/java/com/tht/tht/data/repository/EmailRepositoryImplTest.kt
  domain/src/main/java/com/tht/tht/domain/email/constant/EmailServiceConstant.kt
  domain/src/main/java/com/tht/tht/domain/email/repository/EmailRepository.kt
  domain/src/main/java/com/tht/tht/domain/email/usecase/SendInquiryEmailUseCase.kt
  domain/src/test/java/com/tht/tht/domain/email/SendInquiryEmailUseCaseTest.kt
  feature/signin/src/main/AndroidManifest.xml
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/inquiry/InquiryActivity.kt
  feature/signin/src/main/java/tht/feature/signin/inquiry/InquiryCompleteDialog.kt
  feature/signin/src/main/java/tht/feature/signin/inquiry/InquiryViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/prelogin/PreloginActivity.kt
  feature/signin/src/main/java/tht/feature/signin/prelogin/PreloginSideEffect.kt
  feature/signin/src/main/java/tht/feature/signin/prelogin/PreloginViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationDialogFragment.kt
  feature/signin/src/main/res/drawable/bg_btn_send_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_send_enable.xml
  feature/signin/src/main/res/drawable/bg_complete_dialog.xml
  feature/signin/src/main/res/drawable/ic_complete.xml
  feature/signin/src/main/res/drawable/selector_btn_send.xml
  feature/signin/src/main/res/layout/activity_inquiry.xml
  feature/signin/src/main/res/layout/dialog_inquiry_complete.xml
  feature/signin/src/main/res/layout/fragment_introduction.xml
  feature/signin/src/main/res/layout/fragment_nickname.xml
  feature/signin/src/main/res/values-v28/styles.xml
  feature/signin/src/main/res/values/dimens.xml
  feature/signin/src/main/res/values/strings.xml
  feature/signin/src/main/res/values/styles.xml
  gradle/libraries.version.toml
Labels: 최광현 🐱, feat 📎

#77 TOP-55 폴링(메인화면) User List UI - Time Progress Animation
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotAnimateTimeProgressContainer.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotTimeCircularProgress.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotTimeProgressBar.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotTimeProgressText.kt
Labels: 최웅재 🦊, feat 📎, ui 🖍

#79 TOP-56 feature 폴링(메인화면) 토픽 선택, 툴바 UI
  core/compose-ui/src/main/java/com/example/compose_ui/component/button/ThtButton.kt
  core/compose-ui/src/main/java/com/example/compose_ui/component/progress/ThtCircularProgress.kt
  core/compose-ui/src/main/java/com/example/compose_ui/extensions/ModifierExtension.kt
  core/ui/src/main/res/values/colors.xml
  feature/tohot/src/main/java/tht/feature/tohot/component/emoji/EmojiText.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/toolbar/ToHotToolBar.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/toolbar/ToHotToolBarContent.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/toolbar/ToHotToolbarTopicIcon.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/topic/TopicSelectChip.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/ImmutableCollectionWrapper.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/TopicUiModel.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/ToHotScreen.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/TopicSelectModal.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/TopicSelectScreen.kt
  feature/tohot/src/main/java/tht/feature/tohot/state/ToHotState.kt
  feature/tohot/src/main/java/tht/feature/tohot/viewmodel/ToHotViewModel.kt
  feature/tohot/src/main/res/drawable/ic_alarm_default.xml
  feature/tohot/src/main/res/drawable/ic_alarm_on.xml
  feature/tohot/src/main/res/drawable/ic_arrow_down.xml
  feature/tohot/src/main/res/drawable/ic_stopwatch.xml
  feature/tohot/src/main/res/drawable/ic_topic_placeholder_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_rest_38.xml
  feature/tohot/src/main/res/drawable/ic_topic_value_38.xml
  feature/tohot/src/main/res/values/strings.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍

#81 TOP-55 feature falling main UI
  feature/tohot/src/main/java/tht/feature/tohot/component/card/ToHotCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/card/ToHotCardImage.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/chip/ToHotChip.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/dialog/ToHotReportDialog.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/dialog/ToHotUserBlockDialog.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/dialog/ToHotUserReportMenuDialog.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/pager/ToHotCardImagePager.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotAnimateTimeProgressContainer.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/userinfo/ToHotCardManageRow.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/userinfo/ToHotUserInfoCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/userinfo/ToHotUserInfoFullCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/userinfo/ToHotUserInfoMinimumCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/CardTimerUiModel.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/ToHotScreen.kt
  feature/tohot/src/main/java/tht/feature/tohot/state/ToHotSideEffect.kt
  feature/tohot/src/main/java/tht/feature/tohot/state/ToHotState.kt
  feature/tohot/src/main/java/tht/feature/tohot/viewmodel/ToHotViewModel.kt
  feature/tohot/src/main/res/drawable/ic_enter.xml
  feature/tohot/src/main/res/drawable/ic_heart_pressed.xml
  feature/tohot/src/main/res/drawable/ic_heart_unpressed.xml
  feature/tohot/src/main/res/drawable/ic_report.xml
  feature/tohot/src/main/res/drawable/ic_unlike_pressed.xml
  feature/tohot/src/main/res/drawable/ic_unlike_unpressed.xml
  feature/tohot/src/main/res/drawable/ic_user_card_error.xml
  feature/tohot/src/main/res/drawable/ic_user_card_placeholder.xml
  feature/tohot/src/main/res/drawable/ic_user_info_pressed.xml
  feature/tohot/src/main/res/drawable/ic_user_info_unpreseed.xml
  feature/tohot/src/main/res/values/strings.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍

#85 Chore/top 61 ktlint version 11.3.1
  .editorconfig
  app/build.gradle.kts
  app/src/androidTest/java/com/tht/tht/ExampleInstrumentedTest.kt
  feature/signin/src/androidTest/java/tht/feature/signin/ExampleInstrumentedTest.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneVerifyActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneVerifyViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/birthday/BirthdayFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/idealtype/IdealTypeFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/interest/InterestFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsActivity.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsContentActivity.kt
  feature/signin/src/main/java/tht/feature/signin/util/StringUtil.kt
  feature/signin/src/test/java/tht/feature/signin/ExampleUnitTest.kt
  gradle/libraries.version.toml
Labels: 최웅재 🦊, chore 📏

#83 Top-49 feature chat UI 상세 리스트 구현
  app/src/main/AndroidManifest.xml
  core/compose-ui/build.gradle.kts
  core/compose-ui/src/main/java/com/example/compose_ui/component/image/ThtImage.kt
  core/compose-ui/src/main/java/com/example/compose_ui/component/modifier/Skeleton.kt
  core/compose-ui/src/main/java/com/example/compose_ui/component/spacer/Spacer.kt
  core/compose-ui/src/main/res/drawable/ic_alert.xml
  core/compose-ui/src/main/res/drawable/ic_non_alert.xml
  feature/chat/build.gradle.kts
  feature/chat/src/main/AndroidManifest.xml
  feature/chat/src/main/java/tht/feature/chat/ChatFragment.kt
  feature/chat/src/main/java/tht/feature/chat/component/ChatAlert.kt
  feature/chat/src/main/java/tht/feature/chat/component/ChatItem.kt
  feature/chat/src/main/java/tht/feature/chat/component/ChatTopBar.kt
  feature/chat/src/main/java/tht/feature/chat/component/LazyColumnChatItem.kt
  feature/chat/src/main/java/tht/feature/chat/component/detail/ChatDetailList.kt
  feature/chat/src/main/java/tht/feature/chat/component/detail/ChatDetailTopBar.kt
  feature/chat/src/main/java/tht/feature/chat/component/detail/ChatEditText.kt
  feature/chat/src/main/java/tht/feature/chat/screen/ChatEmptyScreen.kt
  feature/chat/src/main/java/tht/feature/chat/screen/ChatListScreen.kt
  feature/chat/src/main/java/tht/feature/chat/screen/ChatScreen.kt
  feature/chat/src/main/java/tht/feature/chat/screen/detail/ChatDetailActivity.kt
  feature/chat/src/main/java/tht/feature/chat/screen/detail/screen/ChatDetailScreen.kt
  feature/chat/src/main/java/tht/feature/chat/viewmodel/ChatViewModel.kt
  feature/chat/src/main/java/tht/feature/chat/viewmodel/detail/ChatDetailViewModel.kt
  feature/chat/src/main/java/tht/feature/chat/viewmodel/detail/sideeffect/ChatDetailSideEffect.kt
  feature/chat/src/main/java/tht/feature/chat/viewmodel/detail/state/ChatDetailState.kt
  feature/chat/src/main/java/tht/feature/chat/viewmodel/sideeffect/ChatSideEffect.kt
  feature/chat/src/main/java/tht/feature/chat/viewmodel/state/ChatSkeleton.kt
  feature/chat/src/main/java/tht/feature/chat/viewmodel/state/ChatState.kt
  feature/chat/src/main/res/drawable/ic_attachment.xml
  feature/chat/src/main/res/drawable/ic_back.xml
  feature/chat/src/main/res/drawable/ic_empty.png
  feature/chat/src/main/res/drawable/ic_logout.xml
  feature/chat/src/main/res/drawable/ic_report.xml
  feature/chat/src/main/res/drawable/ic_sent.xml
  feature/signin/src/main/AndroidManifest.xml
  gradle/libraries.version.toml
Labels: 남태우 🕷, ui 🖍
