Repository THT-Team/THT-Android, pull requests merged in 2023-04, with the labels that each got.

#44 TOP-31 feature signup nickname
  core/ui/src/main/res/values-v28/styles.xml
  data/src/main/java/com/tht/tht/data/constant/THTApiConstant.kt
  data/src/main/java/com/tht/tht/data/di/UseCaseModule.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/SignupApiDataSource.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/SignupApiDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/service/MockTHTSignupApi.kt
  data/src/main/java/com/tht/tht/data/remote/service/THTSignupApi.kt
  data/src/main/java/com/tht/tht/data/repository/SignupRepositoryImpl.kt
  data/src/test/java/com/tht/tht/data/repository/SignupRepositoryImplTest.kt
  domain/src/main/java/com/tht/tht/domain/signup/repository/SignupRepository.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/CheckNicknameDuplicateUseCase.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/CheckNicknameDuplicateUseCaseTest.kt
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneVerifyActivity.kt
  feature/signin/src/main/java/tht/feature/signin/email/EmailViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/nickname/NicknameFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/nickname/NicknameViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/util/AnimatorUtil.kt
  feature/signin/src/main/java/tht/feature/signin/util/StringUtil.kt
  feature/signin/src/main/res/drawable/bg_btn_right_arrow_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_right_arrow_enable.xml
  feature/signin/src/main/res/drawable/selector_btn_right_arrow.xml
  feature/signin/src/main/res/layout/fragment_nickname.xml
  feature/signin/src/main/res/values/dimens.xml
  feature/signin/src/main/res/values/strings.xml
  feature/signin/src/main/res/values/styles.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍

#47 TOP-23 feature signup preferred gender
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/signup/gender/GenderFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/gender/GenderViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/preferredgender/PreferredGenderFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/preferredgender/PreferredGenderViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsActivity.kt
  feature/signin/src/main/res/drawable/bg_btn_all_gender_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_all_gender_enable.xml
  feature/signin/src/main/res/drawable/bg_btn_female_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_female_enable.xml
  feature/signin/src/main/res/drawable/bg_btn_male_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_male_enable.xml
  feature/signin/src/main/res/drawable/selector_btn_female.xml
  feature/signin/src/main/res/drawable/selector_btn_gender_all.xml
  feature/signin/src/main/res/drawable/selector_btn_male.xml
  feature/signin/src/main/res/layout/fragment_gender.xml
  feature/signin/src/main/res/layout/fragment_preferred_gender.xml
  feature/signin/src/main/res/navigation/nav_graph.xml
  feature/signin/src/main/res/values/strings.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍

#49 [Fix] PreferredGenderFragment 버그 수정
  core/ui/src/main/java/tht/core/ui/extension/FragmentExtension.kt
  feature/signin/src/main/java/tht/feature/signin/signup/preferredgender/PreferredGenderFragment.kt
Labels: 최광현 🐱, fix 🔎

#51 TOP-41 feature signup nickname duplicate api
  data/src/main/java/com/tht/tht/data/constant/THTApiConstant.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/SignupApiDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/response/nickname/NicknameDuplicateCheckResponse.kt
  data/src/main/java/com/tht/tht/data/remote/service/MockTHTSignupApi.kt
  data/src/main/java/com/tht/tht/data/remote/service/THTSignupApi.kt
  feature/signin/src/main/java/tht/feature/signin/signup/nickname/NicknameViewModel.kt
Labels: 최웅재 🦊, feat 📎

#50 TOP-24 feature signup profile image
  .github/workflows/android_ci.yml
  app/build.gradle.kts
  build.gradle.kts
  data/build.gradle.kts
  data/src/androidTest/java/com/tht/tht/data/repository/ImageRepositoryImplTest.kt
  data/src/main/java/com/tht/tht/data/di/DataSourceModule.kt
  data/src/main/java/com/tht/tht/data/di/RepositoryModule.kt
  data/src/main/java/com/tht/tht/data/di/UseCaseModule.kt
  data/src/main/java/com/tht/tht/data/di/retrofit/ApiServiceModule.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/ImageDataSource.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/ImageDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/service/ImageService.kt
  data/src/main/java/com/tht/tht/data/remote/service/ImageServiceImpl.kt
  data/src/main/java/com/tht/tht/data/repository/ImageRepositoryImpl.kt
  domain/src/main/java/com/tht/tht/domain/image/ImageRepository.kt
  domain/src/main/java/com/tht/tht/domain/image/UploadImageUseCase.kt
  domain/src/test/java/com/tht/tht/domain/image/UploadImageUseCaseTest.kt
  feature/signin/build.gradle.kts
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/signup/profileimage/ImageSelectCallbackWrapper.kt
  feature/signin/src/main/java/tht/feature/signin/signup/profileimage/ImageUri.kt
  feature/signin/src/main/java/tht/feature/signin/signup/profileimage/ProfileImageFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/profileimage/ProfileImageViewModel.kt
  feature/signin/src/main/res/drawable/bg_btn_add.xml
  feature/signin/src/main/res/drawable/bg_btn_add_pressed.xml
  feature/signin/src/main/res/drawable/bg_image_error.xml
  feature/signin/src/main/res/drawable/bg_image_select_btn.xml
  feature/signin/src/main/res/drawable/fg_image_select_gray.xml
  feature/signin/src/main/res/drawable/fg_image_select_yellow.xml
  feature/signin/src/main/res/drawable/selector_btn_add.xml
  feature/signin/src/main/res/layout/fragment_profile_image.xml
  feature/signin/src/main/res/values/strings.xml
  gradle/libraries.version.toml
Labels: 최웅재 🦊, feat 📎, ui 🖍, test ✍️

#53 TOP-28 feature signup introduce
  feature/signin/src/main/java/tht/feature/signin/signup/introduction/IntroductionFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/introduction/IntroductionViewModel.kt
  feature/signin/src/main/res/layout/fragment_introduction.xml
  feature/signin/src/main/res/values/strings.xml
  feature/signin/src/main/res/values/styles.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍

#54 fix:TOP-28 ProfileImageViewModel에 URL, URI를 혼동해 사용한 코드 수정
  feature/signin/src/main/java/tht/feature/signin/signup/profileimage/ProfileImageViewModel.kt
Labels: 최웅재 🦊, fix 🔎

#58 TOP-42 번호인증, 닉네임 중복체크 api address 변경
  data/src/main/java/com/tht/tht/data/constant/THTApiConstant.kt
Labels: 최웅재 🦊, chore 📏
