Repository THT-Team/THT-Android, pull requests merged in 2023-05, with the labels that each got.

#55 TOP-43 Fix EditText 버그 수정
  feature/signin/src/main/java/tht/feature/signin/signup/introduction/IntroductionFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/nickname/NicknameFragment.kt
Labels: 최광현 🐱, fix 🔎

#52 TOP-28 feature signup location
  app/src/main/AndroidManifest.xml
  app/src/main/res/values/themes.xml
  data/src/androidTest/java/com/tht/tht/data/local/dao/LocationServiceImplTest.kt
  data/src/main/AndroidManifest.xml
  data/src/main/java/com/tht/tht/data/di/DataSourceModule.kt
  data/src/main/java/com/tht/tht/data/di/RepositoryModule.kt
  data/src/main/java/com/tht/tht/data/di/ServiceModule.kt
  data/src/main/java/com/tht/tht/data/di/UseCaseModule.kt
  data/src/main/java/com/tht/tht/data/local/mapper/Mapper.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/LocationDataSource.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/LocationDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/response/location/LocationResponse.kt
  data/src/main/java/com/tht/tht/data/remote/service/LocationService.kt
  data/src/main/java/com/tht/tht/data/remote/service/LocationServiceImpl.kt
  data/src/main/java/com/tht/tht/data/repository/LocationRepositoryImpl.kt
  data/src/test/java/com/tht/tht/data/datasource/LocationDataSourceImplTest.kt
  data/src/test/java/com/tht/tht/data/repository/LocationRepositoryImplTest.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/LocationModel.kt
  domain/src/main/java/com/tht/tht/domain/signup/repository/LocationRepository.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/FetchCurrentLocationUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/FetchLocationByAddressUseCase.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/FetchCurrentLocationUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/FetchLocationByAddressUseCaseTest.kt
  feature/signin/build.gradle.kts
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/signup/SignupRootActivity.kt
  feature/signin/src/main/java/tht/feature/signin/signup/SignupRootViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/idealtype/IdealTypeFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/introduction/IntroductionFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationConstant.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationDialogFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationViewModel.kt
  feature/signin/src/main/res/drawable/ic_location.xml
  feature/signin/src/main/res/layout/dialog_location.xml
  feature/signin/src/main/res/layout/fragment_location.xml
  feature/signin/src/main/res/navigation/nav_graph.xml
  feature/signin/src/main/res/values/dimens.xml
  feature/signin/src/main/res/values/strings.xml
Labels: 최광현 🐱, feat 📎

#59 TOP-25 feature signup interest
  data/src/main/java/com/tht/tht/data/local/entity/SignupUserEntity.kt
  data/src/main/java/com/tht/tht/data/remote/service/MockTHTSignupApi.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/SignupUserModel.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupInterestUseCase.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupInterestUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/RequestSignupUseCaseTest.kt
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/signup/interest/InterestFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/interest/InterestViewModel.kt
  feature/signin/src/main/res/layout/fragment_interest.xml
  feature/signin/src/main/res/values/strings.xml
Labels: 최웅재 🦊, feat 📎, ui 🖍

#64 TOP-47 Gender 관련 상수 생성, PreferredGender에 적용
  feature/signin/src/main/java/tht/feature/signin/constant/GenderConstant.kt
  feature/signin/src/main/java/tht/feature/signin/signup/preferredgender/PreferredGenderViewModel.kt
Labels: 최웅재 🦊, feat 📎

#63 TOP-46 feature signup location auto fetch fail
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationViewModel.kt
  feature/signin/src/main/res/values/strings.xml
Labels: 최웅재 🦊, fix 🔎

#66 TOP-34 feature birthday
  core/ui/src/main/res/values-v28/styles.xml
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupBirthdayUseCase.kt
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/signup/birthday/BirthdayConstant.kt
  feature/signin/src/main/java/tht/feature/signin/signup/birthday/BirthdayDialogFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/birthday/BirthdayFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/birthday/BirthdayViewModel.kt
  feature/signin/src/main/res/drawable/bg_btn_all_gender_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_all_gender_enable.xml
  feature/signin/src/main/res/drawable/bg_btn_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_enable.xml
  feature/signin/src/main/res/drawable/bg_btn_female_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_female_enable.xml
  feature/signin/src/main/res/drawable/bg_btn_male_disenable.xml
  feature/signin/src/main/res/drawable/bg_btn_male_enable.xml
  feature/signin/src/main/res/drawable/selector_btn_female.xml
  feature/signin/src/main/res/drawable/selector_btn_gender.xml
  feature/signin/src/main/res/drawable/selector_btn_gender_all.xml
  feature/signin/src/main/res/drawable/selector_btn_preferred_gender.xml
  feature/signin/src/main/res/layout/dialog_birthday.xml
  feature/signin/src/main/res/layout/fragment_birthday.xml
  feature/signin/src/main/res/layout/fragment_preferred_gender.xml
  feature/signin/src/main/res/navigation/nav_graph.xml
  feature/signin/src/main/res/values-v28/styles.xml
  feature/signin/src/main/res/values/dimens.xml
  feature/signin/src/main/res/values/strings.xml
  feature/signin/src/main/res/values/styles.xml
Labels: 최광현 🐱, feat 📎

#68 TOP-48 feature android cd
  .github/workflows/android_cd.yml
  app/release_note.md
Labels: 최웅재 🦊, feat 📎

#69 TOP-45 feature fontWeight 26버전 이하 대응
  core/ui/src/main/res/values/styles.xml
Labels: 최웅재 🦊, feat 📎

#67 feat: TOP-50 compose designSystem 설정
  core/compose-ui/.gitignore
  core/compose-ui/build.gradle.kts
  core/compose-ui/consumer-rules.pro
  core/compose-ui/proguard-rules.pro
  core/compose-ui/src/androidTest/java/com/example/compose_ui/ExampleInstrumentedTest.kt
  core/compose-ui/src/main/AndroidManifest.xml
  core/compose-ui/src/main/java/com/example/compose_ui/common/viewmodel/Container.kt
  core/compose-ui/src/main/java/com/example/compose_ui/component/button/ThtButton.kt
  core/compose-ui/src/main/java/com/example/compose_ui/component/font/PretendardFontFamily.kt
  core/compose-ui/src/main/java/com/example/compose_ui/component/text/ThtText.kt
  core/compose-ui/src/main/java/com/example/compose_ui/component/text/caption/Caption.kt
  core/compose-ui/src/main/java/com/example/compose_ui/component/text/headline/Headline.kt
  core/compose-ui/src/main/java/com/example/compose_ui/component/text/p/p.kt
  core/compose-ui/src/main/java/com/example/compose_ui/component/text/subtitle/Subtitle.kt
  core/compose-ui/src/main/java/com/example/compose_ui/extensions/TextExtension.kt
  core/compose-ui/src/main/res/font/pretendard_black.otf
  core/compose-ui/src/main/res/font/pretendard_bold.otf
  core/compose-ui/src/main/res/font/pretendard_extra_bold.otf
  core/compose-ui/src/main/res/font/pretendard_extra_light.otf
  core/compose-ui/src/main/res/font/pretendard_light.otf
  core/compose-ui/src/main/res/font/pretendard_medium.otf
  core/compose-ui/src/main/res/font/pretendard_regular.otf
  core/compose-ui/src/main/res/font/pretendard_semi_bold.otf
  core/compose-ui/src/main/res/font/pretendard_thin.otf
  core/compose-ui/src/test/java/com/example/compose_ui/ExampleUnitTest.kt
  settings.gradle.kts
Labels: 남태우 🕷, feat 📎, ui 🖍

#71 TOP-29 feature signup api
  data/src/main/assets/signup_terms.json
  data/src/main/java/com/tht/tht/data/constant/THTApiConstant.kt
  data/src/main/java/com/tht/tht/data/di/retrofit/ApiServiceModule.kt
  data/src/main/java/com/tht/tht/data/local/dao/TokenDao.kt
  data/src/main/java/com/tht/tht/data/local/dao/TokenDaoImpl.kt
  data/src/main/java/com/tht/tht/data/local/datasource/TokenDataSource.kt
  data/src/main/java/com/tht/tht/data/local/datasource/TokenDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/local/entity/TermsEntity.kt
  data/src/main/java/com/tht/tht/data/local/mapper/Mapper.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/SignupApiDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/mapper/Mapper.kt
  data/src/main/java/com/tht/tht/data/remote/response/login/FcmTokenLoginResponse.kt
  data/src/main/java/com/tht/tht/data/remote/response/signup/SignupResponse.kt
  data/src/main/java/com/tht/tht/data/remote/retrofit/ApiClient.kt
  data/src/main/java/com/tht/tht/data/remote/service/MockTHTSignupApi.kt
  data/src/main/java/com/tht/tht/data/remote/service/THTSignupApi.kt
  data/src/main/java/com/tht/tht/data/repository/TokenRepositoryImpl.kt
  data/src/test/java/com/tht/tht/data/datasource/TermsDataSourceImplTest.kt
  data/src/test/java/com/tht/tht/data/repository/SignupRepositoryImplTest.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/SignupResponseModel.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/TermsModel.kt
  domain/src/main/java/com/tht/tht/domain/token/model/FcmTokenLoginResponseModel.kt
  domain/src/main/java/com/tht/tht/domain/token/repository/TokenRepository.kt
  domain/src/test/java/com/tht/tht/domain/login/usecase/RequestFcmTokenLoginUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupTermsUseCaseTest.kt
  feature/signin/src/main/java/tht/feature/signin/signup/SignupRootActivity.kt
  feature/signin/src/main/java/tht/feature/signin/signup/SignupRootViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationFragment.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsContentViewModel.kt
  feature/signin/src/main/res/layout/activity_signup_root.xml
Labels: 최웅재 🦊, feat 📎

#72 TOP-34 Gender, Birthday Usecase 2개로 분리
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupBirthdayUseCase.kt
  feature/signin/src/main/java/tht/feature/signin/signup/birthday/BirthdayFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/birthday/BirthdayViewModel.kt
Labels: 최광현 🐱, refactor ⚒

#73 Feature/top 52 feature signup patch improvement
  data/src/main/java/com/tht/tht/data/di/UseCaseModule.kt
  data/src/main/java/com/tht/tht/data/local/dao/SignupUserDaoImpl.kt
  data/src/main/java/com/tht/tht/data/remote/mapper/Mapper.kt
  data/src/main/java/com/tht/tht/data/remote/request/signup/SignupRequest.kt
  domain/src/main/java/com/tht/tht/domain/signup/constant/SignupConstant.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/SignupException.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/CreateSignupUserUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupBirthdayUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupDataUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupEmailUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupGenderUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupIdealTypeUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupInterestUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupIntroduceUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupLocationUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupPreferredGenderUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupProfileImagesUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchSignupTermsUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/RequestPhoneVerifyUseCase.kt
  domain/src/main/java/com/tht/tht/domain/type/SignInType.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/CreateSignupUserUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupBirthdayUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupDataUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupEmailUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupGenderUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupIdealTypeUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupInterestUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupIntroduceUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupLocationUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupNickNameUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupPreferredGenderUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupProfileImagesUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchSignupTermsUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/RequestPhoneVerifyUseCaseTest.kt
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneAuthActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneAuthViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneVerifyActivity.kt
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneVerifyViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/email/EmailViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/intro/IntroActivity.kt
  feature/signin/src/main/java/tht/feature/signin/prelogin/PreloginActivity.kt
  feature/signin/src/main/java/tht/feature/signin/prelogin/PreloginViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/birthday/BirthdayViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/idealtype/IdealTypeViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/interest/InterestViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/introduction/IntroductionViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/nickname/NicknameViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/preferredgender/PreferredGenderViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/signup/profileimage/ProfileImageViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/terms/TermsViewModel.kt
  feature/signin/src/main/res/values/strings.xml
Labels: 최웅재 🦊, feat 📎

#74 Feature/top 39 feature signup design modify
  app/src/main/res/values/themes.xml
  feature/signin/src/main/AndroidManifest.xml
  feature/signin/src/main/java/tht/feature/signin/auth/PhoneAuthActivity.kt
  feature/signin/src/main/java/tht/feature/signin/intro/IntroActivity.kt
  feature/signin/src/main/java/tht/feature/signin/intro/IntroViewModel.kt
  feature/signin/src/main/java/tht/feature/signin/prelogin/PreloginActivity.kt
  feature/signin/src/main/res/color/selector_ideal_chip_color.xml
  feature/signin/src/main/res/drawable/bg_email_autocomplete_dropdown.xml
  feature/signin/src/main/res/drawable/bg_rectangle_black_22222_radius_12.xml
  feature/signin/src/main/res/drawable/ic_location.xml
  feature/signin/src/main/res/drawable/ic_toast_finish.xml
  feature/signin/src/main/res/drawable/ic_toast_send_success.xml
  feature/signin/src/main/res/layout/activity_email.xml
  feature/signin/src/main/res/layout/activity_intro.xml
  feature/signin/src/main/res/layout/activity_phone_auth.xml
  feature/signin/src/main/res/layout/activity_phone_verify.xml
  feature/signin/src/main/res/layout/activity_prelogin.xml
  feature/signin/src/main/res/layout/activity_terms.xml
  feature/signin/src/main/res/layout/activity_terms_content.xml
  feature/signin/src/main/res/layout/fragment_birthday.xml
  feature/signin/src/main/res/layout/fragment_ideal_type.xml
  feature/signin/src/main/res/layout/fragment_interest.xml
  feature/signin/src/main/res/layout/fragment_introduction.xml
  feature/signin/src/main/res/layout/fragment_location.xml
  feature/signin/src/main/res/layout/fragment_nickname.xml
  feature/signin/src/main/res/layout/fragment_preferred_gender.xml
  feature/signin/src/main/res/layout/fragment_profile_image.xml
  feature/signin/src/main/res/layout/item_signup_custom_toast.xml
  feature/signin/src/main/res/layout/item_signup_tool_bar.xml
  feature/signin/src/main/res/values/styles.xml
Labels: 최웅재 🦊, ui 🖍

#75 Feature/top 54 feature region code
  .github/workflows/android_ci.yml
  data/build.gradle.kts
  data/src/main/java/com/tht/tht/data/constant/RegionCodeConstant.kt
  data/src/main/java/com/tht/tht/data/di/DataSourceModule.kt
  data/src/main/java/com/tht/tht/data/di/RepositoryModule.kt
  data/src/main/java/com/tht/tht/data/di/UseCaseModule.kt
  data/src/main/java/com/tht/tht/data/di/retrofit/ApiServiceModule.kt
  data/src/main/java/com/tht/tht/data/local/entity/SignupUserEntity.kt
  data/src/main/java/com/tht/tht/data/local/mapper/Mapper.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/RegionCodeDataSource.kt
  data/src/main/java/com/tht/tht/data/remote/datasource/RegionCodeDataSourceImpl.kt
  data/src/main/java/com/tht/tht/data/remote/response/regioncode/RegionCodeResponse.kt
  data/src/main/java/com/tht/tht/data/remote/retrofit/ApiClient.kt
  data/src/main/java/com/tht/tht/data/remote/service/RegionCodeApi.kt
  data/src/main/java/com/tht/tht/data/repository/RegionCodeRepositoryImpl.kt
  data/src/test/java/com/tht/tht/data/datasource/RegionCodeDataSourceImplTest.kt
  data/src/test/java/com/tht/tht/data/repository/RegionCodeRepositoryImplTest.kt
  data/src/test/java/com/tht/tht/data/resources/regioncode/region_code.json
  data/src/test/java/com/tht/tht/data/resources/regioncode/region_code_failure_400.json
  data/src/test/java/com/tht/tht/data/service/RegionCodeApiTest.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/RegionCodeModel.kt
  domain/src/main/java/com/tht/tht/domain/signup/model/SignupUserModel.kt
  domain/src/main/java/com/tht/tht/domain/signup/repository/RegionCodeRepository.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/FetchRegionCodeUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/PatchLocationUseCase.kt
  domain/src/main/java/com/tht/tht/domain/signup/usecase/RequestSignupUseCase.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/FetchRegionCodeUseCaseTest.kt
  domain/src/test/java/com/tht/tht/domain/signup/usecase/PatchLocationUseCaseImpl.kt
  feature/signin/src/main/java/tht/feature/signin/StringProvider.kt
  feature/signin/src/main/java/tht/feature/signin/StringProviderImpl.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationDialogFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationFragment.kt
  feature/signin/src/main/java/tht/feature/signin/signup/location/LocationViewModel.kt
  feature/signin/src/main/res/values/strings.xml
Labels: 최광현 🐱, feat 📎

#76 TOP-55 feature falling main UI
  app/src/main/java/com/tht/tht/HomeActivity.kt
  app/src/main/java/com/tht/tht/HomeViewModel.kt
  feature/tohot/build.gradle.kts
  feature/tohot/src/main/java/tht/feature/tohot/StringProvider.kt
  feature/tohot/src/main/java/tht/feature/tohot/StringProviderImpl.kt
  feature/tohot/src/main/java/tht/feature/tohot/StringProviderModule.kt
  feature/tohot/src/main/java/tht/feature/tohot/ToHotFragment.kt
  feature/tohot/src/main/java/tht/feature/tohot/UserData.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/card/ToHotCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/card/ToHotCardImage.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/chip/ToHotChip.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/pager/ToHotCardImagePager.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/pager/ToHotPagerIndicator.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotAnimateTimeProgressContainer.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotTimeCircularProgress.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/progress/ToHotTimeProgressBar.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/toolbar/ToHotTopBar.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/userinfo/ToHotUserInfoCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/userinfo/ToHotUserInfoFullCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/component/userinfo/ToHotUserInfoMinimumCard.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/CardTimerUiModel.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/ImmutableListWrapper.kt
  feature/tohot/src/main/java/tht/feature/tohot/model/ToHotUserUiModel.kt
  feature/tohot/src/main/java/tht/feature/tohot/navigation/ToHotDestination.kt
  feature/tohot/src/main/java/tht/feature/tohot/navigation/ToHotNavigation.kt
  feature/tohot/src/main/java/tht/feature/tohot/screen/ToHotScreen.kt
  feature/tohot/src/main/java/tht/feature/tohot/state/ToHotSideEffect.kt
  feature/tohot/src/main/java/tht/feature/tohot/state/ToHotState.kt
  feature/tohot/src/main/java/tht/feature/tohot/viewmodel/ToHotViewModel.kt
  feature/tohot/src/main/res/drawable/bg_image_error.xml
  feature/tohot/src/main/res/drawable/ic_detail.xml
  feature/tohot/src/main/res/drawable/ic_location.xml
  feature/tohot/src/main/res/drawable/ic_report.xml
  feature/tohot/src/main/res/layout/fragment_to_hot.xml
  feature/tohot/src/main/res/values/strings.xml
  gradle/libraries.version.toml
Labels: 최웅재 🦊, feat 📎, ui 🖍
